@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@200&family=Montserrat:wght@500;800;900&family=Oswald:wght@200&family=Outfit:wght@400;702&family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #171716;
  }
  ::-webkit-scrollbar-thumb {
    background: #1f46c7;
    border-radius: 50px;
  }
li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%; 
    background-color: #000;
}
.navlogo{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #1f46c7;
}


button{
    padding: 9px 25px;
    background-color: rgba(31, 70, 199, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(31, 70, 199, 0.8);
}


.coming{
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
    display: block;
    text-align: center;
    color: white;
    padding: 30px;
}

.footer{
    font-family: 'Montserrat',sans-serif;
    padding: 40px 0;
    background-color: #000;
    text-decoration: none;
    width: 100%;
    position: relative;
    bottom: 0;
    display: block;
 }
 .footer .social{
     text-align: center;
     padding-bottom: 25px;
     color: #fff;
 }
 .footer .social a{
     font-size: 24px;
     color: inherit;
     width: 40px;
     height: 40px;
     line-height: 38px;
     display: inline-block;
     text-align: center;
     border-radius: 30px;
     margin: 0 8px;
     opacity: 0.75;
     transition: 0.5s;
 }
 .footer .social a:hover{
     opacity: 1;
 }


 .footer ul{
     margin-top: 0;
     padding: 0;
     list-style: none;
     font-size: 19px;
     line-height: 1.6;
     margin-bottom: 0;
     text-align: center;
 }
 .footer ul li a{
     color: inherit;
     text-decoration: none;
     opacity: 1;
 }

 .footer ul li{
     display: inline-block;
     padding: 0 15px;

 }
 .footer ul a:hover{
     opacity: 0.8;
 }
 
 .hamburger {
    display: none;
    padding: 9px 25px;
    position: absolute;
    right: 10px;
}

.bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff;
    border-radius: 15px;
    
}


.nav-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}
.navbar2{
    display: none;
}
.staff{
color: white;

}
.staff-con{
    display: block;
    height: 400px;
    border-radius: 30px;
    margin: 30px;
    transition: 0.2s;
    border: 2px solid #1f46c7;
}
.staff-con:hover{
    transform: scale(1.03);
}
.staff-roles{
    overflow:hidden;
}
.staff-con h1{
    text-align: center;
    padding: 20px;
}
.staff-con p{
    display:list-item;
    text-align: center;
    padding: 15px;

}
canvas{
    background-repeat: none;
    background-size: contain;

    border: 2px solid rgba(31, 70, 199, 1);
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    
}
.search-player-form{
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cosmetic-search-input{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.search-player-form button{
    border-radius: 10px;
}
.cosmetic-preview{
    color: white;
    text-align: center;
}
.cosmetic-preview h1{
    padding-top: 20px;
}

form{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#uuidInput{
    border-radius: 30px;
    padding: 5px;
}
input[type=submit]{
    border-radius: 20px;
    padding: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    color: white;
    
}


.profile{
   font-family: 'Montserrat',sans-serif;
   font-size: 16px;
   display: none;
   min-width: 20%;
   margin-top:130px;
   position:fixed; 
   right: 30px;
   padding: 20px;
   border: 2px solid rgba(31, 70, 199, 1);
   transition: ease .5s;
   border-radius: 30px;
   overflow: hidden;
   max-width: 200px;
   max-height: 525px;
   display: inline-block;
   text-align: center;
   color: white;

}
.profile h1{
  font-size: 40px;
  padding-top: 10px;
}
.profile:hover{
  transform: scale(1.01);
}

.profile button {
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
 display: relative;
 align-items: center;

}


.modal-close.show{
   opacity: 1;
   pointer-events: auto;
}

.profileComponent {
  margin: 20px; 
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
.profileComponent img { 
  border-radius: 100px;
  width: 150px;
  height: 150px;

} 
.profileComponent p{
  padding: 10px;
  font-size: 20px;
}
.grid-container h1 { padding: top 10px; }

 @media only screen and (max-width:700px){

     .Entry h1{
         font-size: 75px;
         padding-top: 100px;
     }
     .Entry{
         height: 600px;
     }
     .HeaderDownload {
         font-size: 20px;
     }
    

     .dmod h1{
         margin: 20px;
         font-size: 30px;
         padding-top: 20px;
     }


     .box{
         max-width: 700px;
         overflow-y: hidden;
         overflow-x: hidden;
     }

     .dmod{
        display: grid;
        place-items: center;
     }
 

    }
    @media only screen and (max-width:925px){
        .nav__links{
            display: none;
        }
        button{
            display: none;
                 }
                 header{
                    padding: 0px 0px 0px 10%;
                    height: 100px;
                }
                .header2{
                    color: white;
                    display: flex;
                }
           
                .nav-menu {
                   position: absolute;
                   right: -100%;
                   top: 5rem;
                   top: 110px;
                   flex-direction: column;
                   background-color: #131313;
                   width: 50%;
                   border-radius: 10px;
                   text-align: center;
                   transition: 0.3s;
                   color: white;
                   box-shadow:
                       0 10px 27px rgba(0, 0, 0, 0.05);
               }
               .nav-menu{
                display: none;
            }
           
               .nav-menu.active {
                   right: 0;
                    display: block;
               }
           
               .nav-item {
                   margin: 2.5rem 0;
                   color: white;
               }
               .navbar2{
                   display: block;
               }
           
               .hamburger {
                   display: block;     
                   cursor: pointer;
               }
           
               .hamburger.active .bar:nth-child(2) {
                   opacity: 0;
                   margin-left: 20px;
                   transition: 0.3s;
           
               }
           
               .hamburger.active .bar:nth-child(1) {
                   -webkit-transform: rotate(-45deg) translate(-9px,6px);
                   transform: rotate(-45deg) translate(-9px,6px);
               }
           
               .hamburger.active .bar:nth-child(3) {
                   -webkit-transform: rotate(45deg) translate(-9px,-6px);
                   transform: rotate(45deg) translate(-9px,-6px);
               }
               
    }
    @media only screen and (max-width:400px){
        .coming{
            font-size: 20px;
        }
    }

    .notification {
        animation-name: none;
        animation-duration: none; 
        
        right: 150%;
        max-width: 500px;
        max-height: 150px;
        border-radius: 12px;
        border: 1px solid rgba(31, 70, 199, 1);
        margin-right: 10px;
        background-color: #1a1a1a;
        color: white;
        display: none;
        width: 20%;
        position: absolute;
        right: 30px;
        padding: 20px;
        justify-content: right;
        align-items: right;
        
    }
    .notiUndo {
        
    }

/* Fade in and subtle Animations */

.Animation {
    animation-name: fadeInBottom;
    animation-duration: 1s;
}


.btn {
    display:inherit;
}
.btn:hover {
    animation-name: btnHvr;
    animation-duration: 2s;
}
.btn:active {
    animation-name: click;
    animation-duration: 0.4s;
}
@keyframes btnHvr {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 45px 2px #ffffff1c;
    }
    100% {
        transform: scale(1);
    }
}




@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.90);
    }
    100% {
        transform: scale(1);
    }
}




@keyframes glowing {
      0% {
        box-shadow: 0 0 3px #ffffff;
      }
      50% {
        box-shadow: 0 0 10px #ffffff;
      }
      100% {
        box-shadow: 0 0 3px #ffffff;
      }
}


@keyframes expand{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
}
}


@keyframes fadeInBottom{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.form {
    width: 300px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid rgba(31, 70, 199, 1);
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

@keyframes fromRight {
    0% {
        opacity: 0;
        transform: scale(1);
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: scale(1.25);
        transform: translateX(0);
    }

}
@keyframes toRight {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(100px);
    }

}

body {
    zoom: 95%;
}

.coutAlign {
    display: flex;
    text-align: center;
    justify-content: center;

    margin-bottom: 100px;
    margin-top: 25px;
}
.coutBtn {
    display: inline-block;
    text-align: center;
    justify-content: center;

    margin-right: 45px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}
Change header to that
.navlogo{
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-left: 50px;
}

.logo-left p{
    margin-left: 30px;
}
add that
And this
_
.loggedin{
    height: 100%;
    background-color:rgba(31, 70, 199, 1);
    width: 300px;
    margin: 0;

    color: white;
    padding: 20px;
}
.loggedin h2{
    color:white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: -50px;
    margin-left: 10px;
    font-size: 18px;
}


.loggedin-right{
    display: flex;
    right: 10%;
    text-align: right;
}
.loggedin-left{
    float: left;
}
.loggedin img{
     width: 50px;
     border-radius: 10px;

}